* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #131313;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding-block: 2rem;
}
canvas {
  border: 1px solid white;
}
.controls {
  margin-block: 1rem;
}